div.cbox{
    border: black solid;
    height: 100%
}
div.dbox{
    height:10%;
    border: 2px solid blue;
}
#container11{
    display: flex;
}
img.image2{
    width: 20%;
    margin-top: 1%;
    margin-left: 10%;
}
img.image1{
    margin-top: 8%;
}
div.text1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

div.box1{
 
    position: absolute;
    top: 50%;
    left: 20%;
    width: 70%;
    height: 20%;
    background-color: rgba(224, 224, 228, 0.753);
    color: white;
    

    
}
div.exo{
    width:60%;
    height: 50%;
}
div.okk{
    float: left;
}
.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    
    
}
div.textline{
    margin-left: 3%;
    margin-top: 1%;
    
}
div.textline2{
     
    font-family: Lato,sans-serif;
    margin-top: 2%;
    margin-left: 3%;
     color: #0d3ab3;
     font-size: 18px;
     
 }  
 
 
 .col-lg-3{
    width: 100%;
   margin-left: 0%;
    }
    img.image3{
    
        width: 100%;
    }

.img-container {
    
    
    width: 100%;
}
.positioning{
    position: absolute;
    top: 60%;
    left: 15%;
    width: 70%;
    height: 25%;
    background-color: rgba(224, 224, 228, 0.753);
    color: white;
    border-radius: 15px;
}
.positioning1{
    position: absolute;
    top: 70%;
    left: 2%;
    width: 20%;
    height: 35%;
    
    color: white;
}
img.image4{
    width: 50%
    
}
.positioning2{
    position: absolute;
    top: 47%;
    left: 30%;
    width: 60%;
    height: 35%;
    color: #fff;
    font-size: 35px;
    font-family: Lato;
    line-height: 1.5;
    color: white;
}